[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
ptvsd = "*"
python-json-logger = "*"
py-wordament-helper = {git = "https://github.com/chrisguest75/py-wordament-helper"}
flask-injector = "*"

[requires]
python_version = "3.7"
